<section id="contact-module" class="relative h-screen w-full bg-black flex flex-col items-center justify-center overflow-hidden">
  
  <div class="absolute inset-0 z-0 pointer-events-none opacity-20">
    </div>

  <div class="relative z-10 text-center mb-16 px-4">
    <div class="overflow-hidden">
      <h2 class="contact-reveal font-title text-[30px] md:text-[50px] tracking-[0.1em] text-white uppercase leading-tight">
        ¿LISTO PARA ESCALAR <br> SU INFRAESTRUCTURA?
      </h2>
    </div>
    <div class="overflow-hidden mt-4">
      <p class="contact-reveal text-[10px] tracking-[0.6em] text-[#00dbe7] uppercase font-bold">Iniciando protocolo de conexión</p>
    </div>
  </div>

  <div class="contact-reveal w-full max-w-[600px] px-6 z-10">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="glass-panel bg-[#0a0a0a]/60 p-8 md:p-12 rounded-3xl border border-white/5 relative">
      
      <div class="absolute top-0 left-1/2 -translate-x-1/2 w-1/2 h-[1px] bg-gradient-to-r from-transparent via-[#00dbe7]/50 to-transparent"></div>

      <div class="space-y-10">
        <div class="relative group">
          <input formControlName="email" type="email" placeholder="EMAIL CORPORATIVO" 
                 class="w-full bg-transparent border-b border-white/10 pb-4 text-white text-xs focus:outline-none focus:border-[#00dbe7] transition-colors placeholder:text-white/20 uppercase tracking-[0.3em] font-light">
          <div class="absolute bottom-0 left-0 h-[1px] bg-[#00dbe7] w-0 group-focus-within:w-full transition-all duration-500"></div>
        </div>

        <div class="relative group">
          <textarea formControlName="message" placeholder="DETALLES DEL PROYECTO" rows="3" 
                    class="w-full bg-transparent border-b border-white/10 pb-4 text-white text-xs focus:outline-none focus:border-[#00dbe7] transition-colors placeholder:text-white/20 resize-none uppercase tracking-[0.3em] font-light"></textarea>
          <div class="absolute bottom-0 left-0 h-[1px] bg-[#00dbe7] w-0 group-focus-within:w-full transition-all duration-500"></div>
        </div>

        <button type="submit" [disabled]="contactForm.invalid || isSubmitting" 
                class="w-full bg-white text-black py-5 rounded-full font-title text-[10px] tracking-[0.4em] uppercase hover:bg-[#00dbe7] transition-all duration-300 disabled:opacity-30 disabled:grayscale mt-4">
          {{ isSubmitting ? 'PROCESANDO...' : 'SOLICITAR AUDITORÍA' }}
        </button>
      </div>
    </form>
  </div>
</section>