<section class="relative w-full h-screen bg-[#000000] flex flex-col items-center justify-center overflow-hidden">

  <div class="absolute inset-0 z-0 flex items-center justify-center mix-blend-screen opacity-90 pointer-events-none">
    <video #bgVideo autoplay loop muted playsinline class="w-full h-full object-cover mix-blend-screen">
      <source src="/herovideo.mp4" type="video/mp4" />
    </video>

    <div class="absolute inset-0 bg-[radial-gradient(circle_at_center,transparent_30%,#000000_80%)]"></div>
  </div>

  <div class="relative z-10 flex flex-col items-center justify-center w-full px-4 mt-12">

    <div class="overflow-hidden mb-6">
      <span class="hero-reveal block font-body text-[10px] md:text-xs tracking-[0.4em] text-white/50 uppercase">
        Ingeniería de Precisión
      </span>
    </div>

    <div class="overflow-hidden mb-8 md:mb-10 w-full flex justify-center">
      <h1
        class="hero-reveal font-title text-[80px] md:text-[180px] tracking-[0.2em] md:tracking-[0.4em] leading-[0.9] text-white text-center ml-[0.2em] md:ml-[0.4em]">
        RLP
      </h1>
    </div>

    <div class="overflow-hidden mb-12">
      <p
        class="hero-reveal font-body text-sm md:text-base text-white/70 tracking-[0.2em] uppercase font-light text-center">
        Software that simply works.
      </p>
    </div>
    <!-- 
    <div class="hero-reveal flex flex-col items-center gap-4 mt-4">
      <button class="bg-white text-black px-10 md:px-14 py-4 md:py-5 rounded-full font-body font-bold text-[10px] md:text-xs uppercase tracking-widest hover:scale-105 hover:bg-[#00dbe7] transition-all duration-300">
        Instalar RLP
      </button>
      <span class="font-body text-[9px] md:text-[10px] text-white/30 tracking-widest uppercase">
        30-days technical warranty
      </span>
    </div> -->

  </div>
</section>