:host {
  display: block;
}

#about-module {
  // Aseguramos que el fondo sea negro profundo para el mix-blend del video
  background: radial-gradient(circle at center, #0a0a0a 0%, #000000 100%);
}

.bg-radial-gradient {
  background: radial-gradient(circle, transparent 20%, black 80%);
}

.a-card {
  transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  &:hover {
    transform: translateX(10px);
  }
}

// Para que el video se vea "integrado" y no como un cuadrado pegado
video {
  filter: contrast(1.1) brightness(0.8);
}