<section id="about-module" class="relative h-screen w-full bg-black flex flex-col items-center justify-center overflow-hidden">
  
  <div class="absolute inset-0 z-0 flex items-center justify-center opacity-40">
    <div class="relative w-full h-full max-w-[1200px] max-h-[700px]">
      <!-- <video #bgVideo autoplay loop muted playsinline class="w-full h-full object-contain mix-blend-screen scale-150 md:scale-110">
        <source src="/video2.mp4" type="video/mp4" />
      </video> -->
      <!-- <div class="absolute inset-0 bg-radial-gradient from-transparent via-black/40 to-black"></div> -->
    </div>
  </div>

  <div class="relative z-10 w-full max-w-[1400px] px-10">
    
    <div class="mb-20">
      <h2 class="a-anim font-title text-[40px] md:text-[80px] tracking-[0.2em] text-white leading-none uppercase">
        Metodología<br>
        <span class="text-[#00dbe7] text-[15px] md:text-[20px] tracking-[0.5em]">RLP SEQUENCE</span>
      </h2>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-5 border-t border-white/10 pt-12">
      <div *ngFor="let phase of phases" class="a-card group hover:translate-x-30 hover:translate-y-30 transition-all duration-500 cursor-default">
        <div class="flex items-start gap-6">
          <div class="flex flex-col items-center">
            <span class="font-title text-[#00dbe7] text-2xl group-hover:drop-shadow-[0_0_10px_#00dbe7] transition-all">
              {{ phase.number }}
            </span>
            <div class="w-[1px] h-20 bg-gradient-to-b from-[#00dbe7] to-transparent mt-4"></div>
          </div>

          <div class="pt-1">
            <h3 class="font-title text-white text-lg tracking-[0.2em] mb-4 uppercase group-hover:text-[#00dbe7] transition-colors">
              {{ phase.title }}
            </h3>
            <p class="font-body text-white/40 text-[12px] leading-relaxed tracking-widest uppercase font-light max-w-[300px]">
              {{ phase.description }}
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>