:host {
  display: block;
}

#about-module {
  background: transparent;
}

.bg-radial-gradient {
  background: radial-gradient(circle, transparent 20%, rgba(0, 0, 0, 0.7) 80%);
}

.a-card {
  transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  &:hover {
    transform: translateX(10px);
  }
}

// Para que el video se vea "integrado" y no como un cuadrado pegado
video {
  filter: contrast(1.1) brightness(0.8);
}