:host {
  display: block;
  background: transparent !important; /* Eliminamos cualquier rastro de fondo negro */
}

section {
  background: transparent !important;
}

/* Solo ocultamos con opacidad para que GSAP haga el fade-in */
.s-anim, .s-card {
  opacity: 1; /* Por defecto visibles por si falla el JS */
}