<app-background-3d></app-background-3d>
<main>
  <section id="hero" class="snap-section">
    <app-hero></app-hero>
  </section>

  <section id="servicios" class="snap-section">
    <app-services></app-services>
  </section>

  <section id="metodologia" class="snap-section">
    <app-about></app-about>
  </section>

  <section id="clientes" class="snap-section">
    <app-clients></app-clients>
  </section>

  <section id="proyectos" class="snap-section">
    <app-proyects></app-proyects>
  </section>

  <section id="roadmap" class="snap-section">
    <app-process></app-process>
  </section>

  <section id="equipo" class="snap-section">
    <app-team></app-team>
  </section>

  <section id="contacto" class="snap-section">
    <app-contact></app-contact>
  </section>
</main>