:host {
  display: block;
}

#clients-module {
  background: black;
}

// Para suavizar el video con el fondo negro
.bg-radial-gradient {
  background: radial-gradient(circle, transparent 30%, black 85%);
}

// Efecto sutil de pulsación en los números
.font-title {
  span {
    display: inline-block;
    filter: drop-shadow(0 0 5px rgba(0, 219, 231, 0.4));
  }
}