<section id="clients-module" class="relative h-screen w-full bg-black flex flex-col items-center justify-center overflow-hidden">
  
  <div class="absolute inset-0 z-0 flex items-center justify-center opacity-50 mix-blend-screen pointer-events-none">
    <!-- <video #bgVideo autoplay loop muted playsinline class="w-full h-full object-cover md:object-contain scale-110">
      <source src="/herovideo.mp4" type="video/mp4" />
    </video> -->
    <div class="absolute inset-0 bg-radial-gradient from-transparent via-black/20 to-black"></div>
  </div>

  <div class="relative z-10 w-full max-w-[1400px] px-10 flex flex-col md:flex-row justify-between items-center gap-20">
    
    <div class="c-anim flex flex-col items-center md:items-start text-center md:text-left">
      <div class="font-title text-[70px] md:text-[40px] text-white leading-none mb-2 drop-shadow-[0_0_20px_rgba(255,255,255,0.2)]">
        99<span class="text-[#00dbe7]">%</span>
      </div>
      <p class="font-body text-[10px] md:text-[12px] tracking-[0.4em] text-white/40 uppercase font-bold">
        Uptime Garantizado
      </p>
    </div>

    <div class="c-anim text-center max-w-md">
      <h2 class="font-title text-[40px] md:text-[50px] tracking-[0.2em] text-white mb-6 uppercase leading-none">
        Clientes Globales
      </h2>
      <div class="w-full h-[1px] bg-[#00dbe7] mx-auto mb-6"></div>
      <p class="font-body text-[11px] md:text-[13px] text-white/40 tracking-[0.3em] uppercase leading-relaxed font-light">
        Ecosistemas digitales validados por líderes de la industria global.
      </p>
    </div>

    <div class="c-anim flex flex-col items-center md:items-end text-center md:text-right">
      <div class="font-title text-[70px] md:text-[40px] text-white leading-none mb-2 drop-shadow-[0_0_20px_rgba(255,255,255,0.2)]">
        4.5<span class="text-[#00dbe7]">y</span>
      </div>
      <p class="font-body text-[10px] md:text-[12px] tracking-[0.4em] text-white/40 uppercase font-bold">
        Experiencia Técnica
      </p>
    </div>

  </div>

</section>